.body{
    width:86%;
    max-width:1114px;
    height:auto;
    padding-top:6.25rem;
    padding-bottom:3.25rem;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:left;
    position:relative
  }
  
  .body-img{
    width:100%;
    max-width:731px;
    display:block;
    margin-bottom:3rem;
    opacity:100;
  }
  
  .body-content{
    width:40%;
    max-width:640px;
    margin-top: -360px;
    margin-left: 50%;
    height: 250px;
    padding: 90px;
    background-color:#ffffff;
    opacity:100
  }
  
  .body-content-subtitle{
    margin-top:0;
    margin-bottom:13.5px;
    font-size:3rem;
    text-align: left;
    line-height:1.1
  }
  
  .body-content-paragraph{
    margin-top:0;
    color:#8c8c8c;
    text-align:left;
    line-height:1.7
  }

  @media (max-width: 767px) {
    .body {
      padding-top: 3.125rem;
      padding-bottom: 1.625rem;
      align-items: center;
    }
  
    .body-img {
      margin-bottom: 2rem;
    }
  
    .body-content {
      width: 80%;
      max-width: 100%;
      margin-top: 0;
      margin-left: 0;
      height: auto;
      padding: 40px;
    }
  
    .body-content-subtitle {
      font-size: 2rem;
      text-align: center;
      line-height: 1.2;
    }
  
    .body-content-paragraph {
      text-align: center;
    }
  }