@font-face{
  font-family:"Alata";
  src:url("../Assets/Fonts/Alata-Regular.ttf") format("truetype");
  font-weight:400
}
@font-face{
  font-family:"Josefine Sans";
  src:url("../Assets/Fonts/JosefinSans-Light.ttf") format("truetype");
  font-weight:300
}

body{
  font-size:15px
}

h1,h2,span{
  font-family:"Josefine Sans",sans-serif;
  font-weight:lighter;
  text-transform:uppercase
}

p,a,button{
  font-family:"Alata",sans-serif
}